# Dependencies
node_modules
npm-debug.log

# Build output
.next
out

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.docker*

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
coverage
.nyc_output

# Misc
*.md
!README.md
!INICIO-RAPIDO.md
Makefile
.DS_Store
